Package: freight
Version: 0.0.2-1
Section: devel
Priority: optional
Essential: no
Architecture: all
Depends: coreutils, dash, dpkg, gnupg, grep
Maintainer: Richard Crowley <richard@devstructure.com>
Description: A modern take on the Debian archive.
